/* uses the Adwaita theme as base */
@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained-dark.css");

window.csd .titlebar:not(headerbar),
window.csd .titlebar,
window.csd,
.titlebar,
headerbar,
headerbar.titlebar, menubar {
    background: #383838;
}

button, button.titlebutton {
    background: transparent;
}

button:hover, button.titlebutton:hover {
    background: #212121;
}

button:checked {
    background: #212121;
}

button.suggested-action {
    background-color: #4a90d9;
}

slider {
    background: white;
}

switch {
    background: #19395b;
}
